In [1]:
import pandas as pd
import numpy as np

In [2]:
out = pd.read_csv('output/INI1003063/output.agg.txt.gz', compression='gzip', delim_whitespace=True)

/tmp/ipykernel_260036/356312059.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  out = pd.read_csv('output/INI1003063/output.agg.txt.gz', compression='gzip', delim_whitespace=True)

In [4]:
sumstat = pd.read_csv('sumstat/INI1003063_Afr_sumstats.txt.gz', compression='gzip', delim_whitespace=True)

In [7]:
keep = sumstat.merge(out[['SNP', 'A1', 'A2']], on=['SNP', 'A1', 'A2'])['SNP']

In [22]:
out[out['SNP'].isin(keep)].to_csv('test_finemapp.txt.gz', sep='\t', index=False)

In [23]:
sumstat[sumstat['SNP'].isin(keep)].to_csv('test_sumstat.txt.gz', sep='\t', index=False)

In [12]:
out[['SNP']].to_csv('SNP_text.txt', header=None, index=False)

In [14]:
sumstat[sumstat['SNP'] == 'rs4503360']

            SNP  CHR        BP A1 A2          BETA   SE  SNPVAR  MAF
5526  rs4503360    1  12941723  T  G  4.073300e-09  1.0     NaN  NaN

In [15]:
out[out['SNP'] == 'rs4503360']

,SNP,CHR,BP,A1,A2,Z,SNPVAR,MAF,P,PIP,BETA_MEAN,BETA_SD,CREDIBLE_SET
5536,rs4503360,1,12941723,T,G,4.073300e-09,0.999998,1.0,0.0,chr1:11000001-14000001:0,NaN,NaN,NaN

In [18]:
out = out.dropna()

In [19]:
sumstat = sumstat.dropna()

In [20]:
keep = sumstat.merge(out[['SNP', 'A1', 'A2']], on=['SNP', 'A1', 'A2'])['SNP']

In [21]:
keep

0            rs3131962
1          rs115991721
2           rs12562034
3            rs4040617
4            rs2980300
              ...
1033227     rs73174435
1033228      rs3810648
1033229      rs3865764
1033230    rs142680588
1033231    rs116656403
Name: SNP, Length: 1033232, dtype: object