In [13]:
import pandas as pd
import numpy as np

In [14]:
data_d = '/net/bmc-lab5/data/kellis/group/tanigawa/data/ukb21942/sqc/population.20220316'
train = pd.read_csv(f'{data_d}/Afr_train.keep', sep='\t', header=None)
train_val = pd.read_csv(f'{data_d}/Afr_train_val.keep', sep='\t', header=None)

In [15]:
train_val

            0        1
0     1001314  1001314
1     1001921  1001921
2     1006251  1006251
3     1008257  1008257
4     1008325  1008325
...       ...      ...
4848  6022621  6022621
4849  6022928  6022928
4850  6023217  6023217
4851  6025237  6025237
4852  6025896  6025896

[4853 rows x 2 columns]

In [21]:
SNPs = []
for pop in ['Afr', 'WB']:
    for trait in ["INI1003063", "INI20030780", "INI30120", "INI50030700"]:
        if (pop == 'Afr') and (trait == 'INI1003063'):
            continue
        df = pd.read_csv(f'out/{pop}_{trait}_sbrc.txt', sep='\t')
        SNPs.extend(df['SNP'].tolist())

SNPs = list(set(SNPs))

In [27]:
annot = pd.read_csv('/home/lucytian/data/1_Single_Cell_PRS/2_cV2F/ukb_genoHM3_mvp_eur_tissue_cV2F.annot.pvar.gz', sep='\t', compression='gzip')

/tmp/ipykernel_20345/3794331728.py:1: DtypeWarning: Columns (0,9,22) have mixed types. Specify dtype option on import or set low_memory=False.
  annot = pd.read_csv('/home/lucytian/data/1_Single_Cell_PRS/2_cV2F/ukb_genoHM3_mvp_eur_tissue_cV2F.annot.pvar.gz', sep='\t', compression='gzip')

In [34]:
annot[annot['rsID'].isin(SNPs)]['rsID'].to_csv('snp_extract.txt', sep='\t', index=False, header=None)

In [35]:
annot[annot['rsID'].isin(SNPs)][['ID', 'rsID']].to_csv('update_name.txt', sep='\t', index=False, header=None)